body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("/assets/background-login.jpg");

  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed; 
  height: 100vh; 
  margin: 0; 
  padding: 0;
}

